<!DOCTYPE HTML>
<head>
<title>Farmers Market | Home </title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<link href="https://images-na.ssl-images-amazon.com/images/G/01/omaha/css/default._V1455922598_.css" type="text/css" rel="stylesheet" />    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
 <link rel="shortcut icon"
	href="https://images-na.ssl-images-amazon.com/images/G/01/omaha/images/ui/favicon.ico"
	type="image/vnd.microsoft.icon" />   
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    
    <!-- Latest compiled JavaScript -->
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

	<link href="/css/style.css" rel="stylesheet" type="text/css" media="all"/>
	<link href="/css/slider.css" rel="stylesheet" type="text/css" media="all"/>
	<script type="text/javascript" src="/js/jquery-1.7.2.min.js"></script> 
	<script type="text/javascript" src="/js/move-top.js"></script>
	<script type="text/javascript" src="/js/easing.js"></script>
	<script type="text/javascript" src="/js/startstop-slider.js"></script>
	<link href="https://images-na.ssl-images-amazon.com/images/G/01/omaha/css/default._V1455922598_.css" type="text/css" rel="stylesheet" />
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	<script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
		<script src="https://maps.googleapis.com/maps/api/js?key=**googlemaps api key goes here**&signed_in=true&callback=initMap" async defer></script>
	
	<style>
		.mar-bot
		{
			margin-bottom: 3px;
			padding: 2px !important
		}
		#map {
        width: 500px;
        height: 400px;
        margin-top: 10px;
      }
	
	</style>
	
		   <style type="text/css">
	   .blue-btn
	   {
	   background-color: #337ab7 !important;
	    border: #337AB7 !important;
	   }
	   .red-btn
	   {
	   background-color: #ff0000 !important;
	    border: #ff0000 !important;
	   }
	   .bill_form_span
	   {
	   	float: left !important;
		padding: 13px !important;
	   }
	   .bill_form_right
	   {
	   	width: 40% !important;
	   	float: right !important;
	   	display: block !important;
		padding: 10px 0px 10px 0px;
	   }
	   .bill_form_left
	   {
	   	width: 57% !important;
	   	float: left !important;
	   	display: block !important;
		padding: 10px 0px 10px 0px;
	   }
	   .mainContent
	   {
	   		padding: 13px 0px 13px 0px !important;
	   }
	   .maindelivery
	   {
	   		padding: 13px 0px 13px 0px !important;
			vertical-align: middle !important;
	   }
	   h3, h2, h1
	   {
	   		padding: 5px 0px 5px 0px !important;
	   }
	   .pad_5{
	   padding: 5px 0 5px 0;
	   }
	   .hname{
	    font-size:22px; 
		color: #000;
	   }
	   a, button
	   {
	   		cursor: pointer;
	   }
	   .cartSubtotal
	   {
			font-size: 18px;
	   }
	   .pad_top
	   {
	   		padding-top: 8px;
	   }
	   
	   .add-cart
	   {
	   		float: none !important;
	   }
	   .addcrt
	   {
	   		float: right !important;
	   }
	   .itemTitle
	   {
	   	color: #337ab7;
		font-size: 18px;
		text-transform: uppercase;
		font-weight: bold;
	   }
	   .mar_0
	   {
	   	margin: 0px !important;
	   }
	   .wrapper
	   {
	   	display: block;
		clear: both;
		width: 100%;
	   }
	   .pad_15
	   {
	   		padding-top: 1.5% !important;
	   }
	   .imageBox
	   {
		padding-right: 21px !important;
	   }
	   .detailsBox
	   {
	   	    display: inline-block !important;
		    clear: both !important;
	   }
	   .cart_scroll
	   {
	   		height: 400px;
			overflow: scroll;
			width: 100% !important;
	   }
	   .pad_bot
	   {
	   	padding-bottom: 10px !important;
	   }
	   .cart_adr
	   {
	   		width: 63.2% !important;
	   }
	   .new_images_1_of_4
	   {
	   padding: 2.0% !important;
	   width:30.8% !important;
	   }
	   
	   .form-left {
	   margin-left: 86px !important;
	   pading-bottom:10px !important;
	   }


		  .footer {
		  background-color: #333;
		  width: 100%;
		  
		  height: 52px;
		  }
		  .but1{
		  margin-top: 25px;
		  width:153px;}
		  .but2{
		  margin-top: 25px;}
		  .spnerr{
		  display: block; width: 68%; float: left; margin-top: 6px;
		  }
		  .col-mn{
		  float:left; clear:left; width: 84% !important; margin-top: 25px;
		  }
		  .form-inp
		  {
		  display: block; width: 30% !important; float: left;
		  }
	   </style>
	
	<script>
	
	
	var app = angular.module('amazonFresh_chome_app', []);
	app.controller('amazonFresh_chome_controller', function($scope, $http,$window) 
	{
		
		var d = new Date();
		var n = d.getDay();
		
		if(n==6 || n==0){
			$scope.checkDiscount = true;
			$scope.second = false;
		}else{
			$scope.checkDiscount = false;
			$scope.second = true;
		}
		
		$scope.cProductList_Show = true;
		$scope.productSearch_Show = true;
		
		$http({
			method:'get',
			url:'/customerProductList'
		}).then(function(res)
			{
				if(res.data.status == "200")
				{
					$scope.getCartSummary();
					$scope.productArray = [];
					for(var i=0;i< res.data.length;i++){
						$scope.productArray[i] = {"pName":res.data.productArray[i].pName,"fName":res.data.productArray[i].fName,"fKey":res.data.productArray[i].fKey,"pPrice":res.data.productArray[i].pPrice,"pImage":res.data.productArray[i].pImage,"pID":res.data.productArray[i].pID,"pDesc":res.data.productArray[i].pDesc,"pAvgRatings":res.data.productArray[i].pAvgRatings,"pDiscount":res.data.productArray[i].pDiscount, "discountedPrice":res.data.productArray[i].discountedPrice};
					}
					
					
				}else{
					$window.location.href='/';
				}
			});
		
		
		/* $http({
			method:'get',
			url:'/getCartSummary'
		}).then(function(res){
			if(res.data.status == "200"){
				console.log("in getCartSummary");
				
				var tempTotal = 0;
				for(var i = 0, len = res.data.cartSummary.length; i < len; i++) {
    				
					tempTotal += parseFloat(res.data.cartSummary[i].price_summary);
			     }
				
				$scope.price_summary = tempTotal.toFixed(2);
				
				$scope.quantity_summary = res.data.cartSummary.length;
				
				
			}else{
				alert(res.data.msg);
			}
		});
		 */
		$scope.home1=function(){
			$http({
				method:'get',
				url:'/customerProductList'
			}).then(function(res)
				{
				
					if(res.data.status == "200")
					{
						$scope.productSearch_Show = true;
						//alert(res.data.productArray[0].pName);
						$scope.productArray = [];
						for(var i=0;i< res.data.length;i++){
							$scope.productArray[i] = {"pName":res.data.productArray[i].pName,"fName":res.data.productArray[i].fName,"fKey":res.data.productArray[i].fKey,"pPrice":res.data.productArray[i].pPrice,"pImage":res.data.productArray[i].pImage,"pID":res.data.productArray[i].pID,"pDesc":res.data.productArray[i].pDesc,"pAvgRatings":res.data.productArray[i].pAvgRatings,  "pDiscount":res.data.productArray[i].pDiscount, "discountedPrice":res.data.productArray[i].discountedPrice};
						};
						
						$scope.getCartSummary();
						$scope.productSearch_Show = true;
					}
				});
		}
		
		
		$scope.genericShow=function(){
			$scope.productSearch_Show=false;
			$scope.cProductHeader_Show=false;
			$scope.cProductList_Show=false;
			$scope.cUpdateDetailsForm_Show=false;
			$scope.cPasswordUpdate_Show=false;
			$scope.cCCUpdate_Show=false;
			$scope.productProfileShow=false;
			$scope.cBillList_Show = false;
			$scope.billProducts_Show=false;
			$scope.GoogleMaps_Show = false;
			$scope.farmerProfile_Show=false;
			$scope.billSearch_Show=false;
		}
		
		$scope.genericValue=function(){
			$scope.customer={"1":"1"};
			$scope.product={"1":"1"};
			$scope.customerCCForm.$setPristine();
			$scope.productReviewForm.$setPristine();
		}
		
			$scope.customerDetails=function(){
				$scope.genericShow();
				$scope.genericValue();
				
			 	$http({
					method:'get',
					url:'/customerDetails'
				}).then(function(res){
					if(res.data.status == "200"){
						
						$scope.customer={"cSSN":res.data.customerDetails.cSSN,"cEmail":res.data.customerDetails.cEmail,"cFirstName":res.data.customerDetails.cFirstName,"cLastName":res.data.customerDetails.cLastName,"cPhoneNumber":res.data.customerDetails.cPhoneNumber,"cAddress":res.data.customerDetails.cAddress,"cCity":res.data.customerDetails.cCity,"cState":res.data.customerDetails.cState,"cZip":res.data.customerDetails.cZip,"cExistingNumber":res.data.customerDetails.cCCNo};
						$scope.cUpdateDetailsForm_Show = true;
					}
				});

			}
			
			$scope.customerUpdateDetails=function(){
				
				var serverData = {"customerDetails":$scope.customer}
				$http({
					method:'post',
					url:'/customerUpdateDetails',
					data:serverData
				}).then(function(res){
					if(res.data.status == "200"){
						
						alert("Customer Details Updated Successfully");
						$scope.customer={"cSSN":res.data.customerDetails.cSSN,"cEmail":res.data.customerDetails.cEmail,"cFirstName":res.data.customerDetails.cFirstName,"cLastName":res.data.customerDetails.cLastName,"cPhoneNumber":res.data.customerDetails.cPhoneNumber,"cAddress":res.data.customerDetails.cAddress,"cCity":res.data.customerDetails.cCity,"cState":res.data.customerDetails.cState,"cZip":res.data.customerDetails.cZip};
					}else{
						$scope.serverError = res.data.msg;
					}
				});
			}
			
			$scope.passwordShow=function(){
				$scope.genericShow();
				$scope.genericValue();
				$scope.cPasswordUpdate_Show = true;
			}
			
			$scope.creditInfoShow=function(cExistingNumber){
				$scope.genericShow();
				$scope.genericValue();
				$scope.cCCUpdate_Show = true;
				console.log("existing users: "+cExistingNumber);
				$scope.cCreditCardNumber = {"cOldCCNo":"*******************"+cExistingNumber.slice(-4)};
			}
			
			$scope.passwordUpdate = function(){
				
				var serverData = {"customerDetails":$scope.password}
				$http({
					method:'post',
					url:'/customerUpdatePassword',
					data:serverData
				}).then(function(res){
					if(res.data.status == "200"){
						alert("Password Details Changed Successfully, Please Login to Continue");
						$scope.logOut();
						
						
					}else{
						$scope.serverPasswordError = res.data.msg;
					}
				});
			}
			
			$scope.creditUpdate = function(){
				//console.log("credit update details: "+$scope.cCreditCardNumber);
				var serverData = {"customerDetails":$scope.cCreditCardNumber};
				$http({
					method:'post',
					url:'/customerUpdateCC',
					data:serverData
				}).then(function(res){
					console.log(":::::::::::::::::"+res.data.msg);
					if(res.data.status == "200")
					{
						alert("Credit Card Details Updated Successfully");
						$scope.cCCUpdate_Show=false;
						$scope.cProductList_Show = true;
						$scope.cProductHeader_Show=true;
						$scope.productSearch_Show=true;
					}
					else
					{
						$scope.serverCreditCardError = res.data.msg;
					}
				});
			}
			
			
			$scope.home=function(){
				$scope.genericShow();
				$scope.genericValue();
				$scope.currentPage = 0;
				$scope.cProductList_Show = true;
				$scope.productSearch_Show = true;
			}
			
			$scope.getCustomerBills = function(){
				console.log("Inside getCustomerBills in angular");
				$http({
					method:'get',
					url:'/getCustomerBills',
					
				}).then(function(res){
					if(res.data.status == "200"){
						//console.log("Key of reviewer: "+res.data.productDetails.pReviewRatings[3].cName);
						$scope.currentPage = 0;
						$scope.billArray = res.data.billArray;
						$scope.genericShow();
						$scope.genericValue();
						$scope.billSearch_Show=true;
						$scope.cBillList_Show = true;
					}else{
						alert(res.data.msg);
					}
				});
			}
			
			$scope.customerGetProductDetails = function(prductID){
				var serverData = {"pID":prductID};	
				console.log("Inside customerGetProductDetails in angular");
				$http({
					method:'post',
					url:'/customerGetProductDetails',
					data:serverData
				}).then(function(res){
					if(res.data.status == "200"){
						//console.log("Key of reviewer: "+res.data.productDetails.pReviewRatings[3].cName);
						$scope.product = {"pName":res.data.productDetails.pName,"pPrice":res.data.productDetails.pPrice,"pDesc":res.data.productDetails.pDesc,"pImage":res.data.productDetails.pImage,"pID":res.data.productDetails.pID,"pReviewRatings":res.data.productDetails.pReviewRatings,"pAvgRatings":res.data.productDetails.pAvgRatings,"fKey":res.data.productDetails.fKey, "pDiscount": res.data.productDetails.pDiscount, "discountedPrice":res.data.productDetails.discountedPrice, "fName":res.data.productDetails.fName};
						$scope.genericShow();
						$scope.productProfileShow=true; 
						$scope.billingFormShow= false;
						$scope.productDetailShow = true;
						$scope.cartShow = false;
					}else{
						alert(res.data.msg);
					}
				});
			}	
			
			
			$scope.customerGetBillDetails = function(bill_ID) {
				console.log("Inside customerGetBillDetails: ");
				var serverData = {"bill_id": bill_ID};	
				$http({
					method:'post',
					url:'/customerGetBillDetails',
					data:serverData
				}).then(function(res){
					if(res.data.status == "200"){
						console.log("in customer get bill details");
						$scope.singleBill = {"bill_id":res.data.billDetails.bill_id,"bDate":res.data.billDetails.bDate,"bExpectedDeliveryDate":res.data.billDetails.bExpectedDeliveryDate,"cKey":res.data.billDetails.cKey,"cName":res.data.billDetails.cName,"bPickupLocation":res.data.billDetails.bPickupLocation,"bDropLocation":res.data.billDetails.bDropLocation,"driver_id":res.data.billDetails.driver_id,"billingProducts":res.data.billDetails.billingProducts,"bTotal":res.data.billDetails.bTotal};
						$scope.genericShow();
						$scope.billProducts_Show=true;
						
					}else{
						alert(res.data.msg);
					}
				});
				
			}
			

			$scope.getCartSummary = function(){
				
				//alert("in get Cart Summary");
				$http({
					method:'get',
					url:'/getCartSummary'
				}).then(function(res){
					if(res.data.status == "200"){
						console.log("in getCartSummary");
						
						var tempTotal = 0;
						for(var i = 0, len = res.data.cartSummary.length; i < len; i++) {
		    				
							tempTotal += parseFloat(res.data.cartSummary[i].price_summary);
					     }
						
						$scope.price_summary = tempTotal.toFixed(2);
						
						$scope.quantity_summary = res.data.cartSummary.length;
						
						
					}else{
						alert(res.data.msg);
					}
				});
			}
			
			
			
			$scope.addToCart = function(product,quantity){
				
				console.log("Inside add to cart angular: "+quantity+"::"+product.fKey+ "::"+ product.pImage);
				//console.log(req.session.data);
				//alert(product.pImage);
				//alert("quantity selected"+ quantity);
				 if(typeof(quantity) == "undefined")
				{
						quantity = 1;
				} 
				 //alert("quantity selected"+ quantity);
				var serverData = {"pID":product.pID,"pName":product.pName,"pImage":product.pImage,"pPrice":product.pPrice,"pQuantity":quantity,"fKey":product.fKey,"fName":product.fName,"discountedPrice":product.discountedPrice,"pDiscount":product.pDiscount};	
				
				//alert(serverData.discountedPrice+"  	"+serverData.pDiscount);
				
				$http({
					method:'post',
					url:'/addToCart',
					data:serverData
				}).then(function(res){
					if(res.data.status == "200"){
						$scope.getCartSummary();
					}else{
						alert(res.data.msg);
					}
				});
			
			}
			
			
			$scope.proceedToCheckOut = function(){
				console.log("inside proceedToCheckOut");
				
				
				if ($scope.quantity_summary == 0){
					
					alert("There is no item in your cart!!");
					
				} else {
					
					$http({
						method:'get',
						url:'/customerDetails'
					}).then(function(res){
						if(res.data.status == "200"){
							$scope.checkOutInfo={"cAddress":res.data.customerDetails.cAddress,"cCity":res.data.customerDetails.cCity,"cState":res.data.customerDetails.cState,"cZip":res.data.customerDetails.cZip};
						}
					});	
					
					console.log("inside 1st proceedToCheckOut");
					
					$http({
						method:'get',
						url:'/getCart'
					}).then(function(res){
						if(res.data.status == "200"){
							var subTotal = 0;
							
							$scope.inCartDetails=res.data.inCartDetails;

							if($scope.checkDiscount){
								
								for(var i = 0, len = res.data.inCartDetails.length; i < len; i++) {
			    					oneItem = parseFloat(parseFloat(res.data.inCartDetails[i].discountedPrice)*parseFloat(res.data.inCartDetails[i].total_quantity));
			    					subTotal = subTotal + oneItem;
								}
								
							}else{
								
								//alert("wadhwa");
								
								for(var i = 0, len = res.data.inCartDetails.length; i < len; i++) {
			    					oneItem = parseFloat(parseFloat(res.data.inCartDetails[i].pPrice)*parseFloat(res.data.inCartDetails[i].total_quantity));
			    					subTotal = subTotal + oneItem;
								}
								
							}
							
							
							
							
							$scope.inCartItems = len;
							$scope.billTotal = subTotal.toFixed(2);
							$scope.genericShow();
							$scope.productProfileShow = true;
							$scope.billingFormShow = true;
							$scope.productDetailShow = false;
							$scope.cartShow = true;
							$scope.getCartSummary();
							
			        		var today = new Date();
			        		var dd = today.getDate();
			        		var mm = today.getMonth()+1; 
			        		var yyyy = today.getFullYear();
			        		
			        		var normal = parseInt(dd) + 3;
			        		var fast = parseInt(dd) + 2;
			        		var superfast = parseInt(dd) + 1;
			        		
			        		if(dd < 10){
			        			dd = '0'+dd;
			        		}
			        		if(mm < 10){
			        			mm = '0'+mm;
			        		}

			        		$scope.normal = mm+"/"+normal+"/"+yyyy;
			        		$scope.fast = mm+"/"+fast+"/"+yyyy;
			        		$scope.superfast = mm+"/"+superfast+"/"+yyyy;
						}
					});
					
				}
				

			}
			
			$scope.placeOrder = function(checkOutInfo){
				console.log("inside placeOrder");
				
				
				console.log("inside placeOrder");
				
				if($scope.inCartDetails.length == 0){
					alert("please add items in cart and then continue");
					return;
				}
				
				//alert(checkOutInfo.dateSelected);
				if($scope.checkOutInfo.dateSelected){
					
				}else{
					$scope.checkOutInfo.dateSelected = 3;
				}
				
				//alert($scope.checkOutInfo.dateSelected);
				
				$scope.billTotal = 0;
				
				if($scope.checkDiscount){

					for(var i = 0, len = $scope.inCartDetails.length; i < len; i++) {
						//alert($scope.inCartDetails[i].discountedPrice);
						//alert($scope.inCartDetails[i].total_quantity);
						oneItem = parseFloat($scope.inCartDetails[i].discountedPrice)*parseInt($scope.inCartDetails[i].total_quantity);
						$scope.billTotal = parseFloat($scope.billTotal)+parseFloat(oneItem);
					}
					
					
					
				}else{
					
					//alert("wadhwa");
					
					for(var i = 0, len = $scope.inCartDetails.length; i < len; i++) {
						//alert($scope.inCartDetails[i].pPrice);
						//alert($scope.inCartDetails[i].total_quantity);
						oneItem = parseFloat($scope.inCartDetails[i].pPrice)*parseInt($scope.inCartDetails[i].total_quantity);
						$scope.billTotal = parseFloat($scope.billTotal)+parseFloat(oneItem);
					}
					
					
				}
				
				
				
				
				
				
				var serverData = {"cAddress":checkOutInfo.cAddress, "cCity":checkOutInfo.cCity,"cState":checkOutInfo.cState, "cZip":checkOutInfo.cZip, "deliveryDate":$scope.checkOutInfo.dateSelected, "inCartDetails":$scope.inCartDetails, "bTotal": $scope.billTotal }
	
				$http({
					method:'post',
					url:'/placeOrder',
					data: serverData
				}).then(function(res){
					if(res.data.status == "200"){
						$scope.checkOutInfo={"1":"1"};
						$scope.customerGetBillDetails(res.data.billID);
						$scope.getCartSummary();
					}
				}); 
			}
			
			$scope.removeFromCart = function(pid){
				console.log("inside removeFromCart");
				var serverData = {"pID":pid}
				
				$http({
					method:'post',
					url:'/removeFromCart',
					data: serverData
				}).then(function(res){
					console.log("inside then");
					if(res.data.status == "200"){
						console.log("inside if");
						$scope.proceedToCheckOut();
					}
				});
				
			}
			
			$scope.insertReviewRatings = function(product,pAvgRatings){
				console.log("Inside insertReviewRatings angular: "+product.pID);
				console.log($scope.productReviewRatings.rating+":::::::"+$scope.productReviewRatings.review+":::::"+pAvgRatings);
				if(pAvgRatings == null)
				{
						pAvgRatings = $scope.productReviewRatings.rating;
				}
				var avgRating=(parseFloat(pAvgRatings)+parseFloat($scope.productReviewRatings.rating))/2;
				console.log("new avg ratings: "+avgRating);
				
				var serverData = {"pID":product.pID,"pAvgRatings":avgRating,"pReviewRatings":{"rating":$scope.productReviewRatings.rating,"review":$scope.productReviewRatings.review}};	
				$http({
					method:'post',
					url:'/insertReviewRatings',
					data:serverData
				}).then(function(res){
					if(res.data.status == "200"){
						$scope.customerGetProductDetails(product.pID);
						$scope.productReviewRatings = {"1":"1"};
					}else{
						alert(res.data.msg);
					}
				});
			}	
			
			$scope.customerDeleteAccount = function(){
				console.log("Inside customerDeleteAccount angular: "+$scope.customer.cEmail);
				var serverData = {"cEmail":$scope.customer.cEmail};	
				$http({
					method:'post',
					url:'/customerDeleteAccount',
					data:serverData
				}).then(function(res){
					if(res.data.status == "200"){
						alert(res.data.msg);
						$scope.logOut();
					}else{
						alert(res.data.msg);
					}
				}); 
			}	
			
			$scope.customerRemoveBill = function(bill_ID){
				
				console.log("Inside customerRemoveBill angular: "+bill_ID);
				var serverData = {"bill_id":bill_ID};	
				$http({
					method:'post',
					url:'/customerRemoveBill',
					data:serverData
				}).then(function(res){
					if(res.data.status == "200"){
						console.log(res.data.msg);
						$scope.getCustomerBills();
					}else{
						alert(res.data.msg);
					}
				}); 
			}
		
			
			$scope.editBill = function(bill_ID, bill_expectedDeliveryDate,newDateSelected){
				
				console.log("Inside editBill angular: "+bill_ID);
				
				var serverData = {"bill_id":bill_ID, "newDateSelected": newDateSelected,"expectedDelivery":bill_expectedDeliveryDate};	
				$http({
					method:'post',
					url:'/editBill',
					data:serverData
				}).then(function(res){
					if(res.data.status == "200"){
						console.log(res.data.msg);
						$scope.getCustomerBills();
					}else{
						alert(res.data.msg);
					}
				}); 
			}
			
			
		 	$scope.filter = {};
		 	
		 	$scope.searchBill = {	
		 			//console.log("hellooo");
					bill_id:'',bDate:'',cKey:'',bPickupLocation:'',bExpectedDeliveryDate:'',bDropLocation:'',driver_id:'', bTotal:''	
		};
		 	
			
			$scope.changedValue=function(){
				$scope.filter = $scope.searchBy;
			}
			
			$scope.search = {
					pName:'',pID:'',pPrice:'',pDesc:'',fKey:'',fName:''
			};
			
			$scope.orderByMe = function(x) {
				$scope.myOrderBy = x;
			} 
			
			$scope.currentPage = 0;
			$scope.pageSize = 20;
		 	 $scope.numberOfPages=function(arrPassed){
				return Math.ceil(arrPassed.length/$scope.pageSize);                
			}   
		 	 
			
		 	$scope.GoogleMapsShow = function(bDropLocation,bPickupLocation){
				//$scope.names = {"1":"1"};
				//$scope.genericShow();
				//$scope.billProducts_Show = true;
				$scope.GoogleMaps_Show = true;
				$scope.initMap();
			}
		 	
			$scope.initMap = function() {
				//alert("intializing map");
				var directionsService = new google.maps.DirectionsService;
		        var directionsDisplay = new google.maps.DirectionsRenderer;
		        var map = new google.maps.Map(document.getElementById('map'), {
		          zoom: 7,
		          center: {lat: 41.85, lng: -87.65}
		        });
				
				var geocoder = new google.maps.Geocoder();
				geocoder.geocode({'address': $scope.singleBill.bPickupLocation}, function(results, status) {
					if (status === google.maps.GeocoderStatus.OK) {
						var image = 'https://i.imgsafe.org/0e650f6.jpg';
						var marker = new google.maps.Marker({
							position: results[0].geometry.location,
							map:map,
							icon: image
						});
					} else {
						alert('Geocode was not successful for the following reason: ' + status);
					}
				});
				
		        directionsDisplay.setMap(map);
				 directionsService.route({
		          origin: $scope.singleBill.bPickupLocation,
		          destination: $scope.singleBill.bDropLocation,
		          travelMode: google.maps.TravelMode.DRIVING
		        }, function(response, status) {
		          if (status === google.maps.DirectionsStatus.OK) {
		            directionsDisplay.setDirections(response);
		          } else {
		            window.alert('Directions request failed due to ' + status);
		          }
		        });
		    }
		 	
			$scope.logOut = function(){
				$http({
					method:'get',
					url:'/sessionEnd'
					}).then(function(res){
					if(res.data.status == "200"){
						$window.location.href = '/';
					}else{
						//alert("wadhwa1");
					}
				});
			} 
			
			
			
			$scope.customerGetFarmerDetails = function(fKey){
				var serverData = {"fKey":fKey};	
				/* alert("Inside customerGetFarmerDetails in angular" + fKey);
				console.log("Inside customerGetFarmerDetails in angular"); */
				$http({
					method:'post',
					url:'/customerGetFarmerDetails',
					data:serverData
				}).then(function(res){
					if(res.data.status == "200"){
						//console.log("Key of reviewer: "+res.data.productDetails.pReviewRatings[3].cName);
						alert(res.data.farmerDetails.fAddress);
						$scope.farmerAddress = res.data.farmerDetails.fAddress+", "+res.data.farmerDetails.fCity+", "+res.data.farmerDetails.fState+" - "+res.data.farmerDetails.fZip;
						
						$scope.farmerDetails = res.data.farmerDetails;
						$scope.farmerProductDetails = res.data.productDetails;
						
                      
						
						var player = document.getElementById('videoPlayer');
						var mp4Vid = document.getElementById('mp4Source');
						player.play();
						player.pause();
						$(mp4Vid).attr('src', "http://127.0.0.1:3000/uploads/videos/"+$scope.farmerDetails.fVideo);
						player.load();
						$scope.genericShow();
						$scope.farmerProfile_Show=true;	
					}else{
						alert(res.data.msg);
					}
				});
			} 
		 	 
	});
	
	
	
	app.filter('startFrom', function() {
	    return function(input, start) {
	        start = +start; //parse to int
	        return input.slice(start);
	    }
	}); 
		
	</script>
</head>
<body ng-app="amazonFresh_chome_app" ng-controller="amazonFresh_chome_controller">
    <div style="width:100%;background-image: url(/images/strip.png);">
	<p><a ng-click="home1();"><img src=" " style="margin-left:1%;margin-top: 0.5%;margin-bottom: 0.5%;"alt="Farmers Market" /></a>
            <a ng-click="logOut()" style='float: right;margin-right: 3%;margin-top: 1%;color: whitesmoke;'>SignOut</a>
        </p>
    </div>
  <div class="wrap" style="width:95%">
      
	<div class="header">
		
		<div class="header_top">
			
			  <div class="cart">
			  	   <p><span style="color: #679900" ng-click="proceedToCheckOut()">Cart:</span><div id="dd" class="wrapper-dropdown-2"> {{quantity_summary}} item(s) - ${{price_summary}}
			  	   	<ul class="dropdown">
							<li>you have no items in your Shopping cart</li>
					</ul></div></p>
			  </div>
			  <script type="text/javascript">
			function DropDown(el) {
				this.dd = el;
				this.initEvents();
			}
			DropDown.prototype = {
				initEvents : function() {
					var obj = this;

					obj.dd.on('click', function(event){
						$(this).toggleClass('active');
						event.stopPropagation();
					});	
				}
			}

			$(function() {

				var dd = new DropDown( $('#dd') );

				$(document).click(function() {
					// all dropdowns
					$('.wrapper-dropdown-2').removeClass('active');
				});

			});

		</script>
	 <div class="clear"></div>
  </div>
	<div class="header_bottom">
	     	<div class="menu">
	     		<ul class="mar_0">
			    	<li><a ng-click="home()">Home</a></li>
			    	<li><a ng-click="customerDetails()">Personal Details</a></li>
					<li><a ng-click="getCustomerBills()">Bills</a></li>
			    	<div class="clear"></div>
     			</ul>
	     	</div>
			
			
	     	<div class="search_box" ng-show="productSearch_Show">
	     		<table>
					<tr>
					<td>
						<select ng-model="searchBy" ng-change="changedValue()">
							<option value="">Search By:</option>
							<option value="pID">Product ID</option>
							<option value="pName">Product Name</option>
							<option value="pPrice">Product Price</option>
							<option value="pDesc">Product Description</option>
							<option value="fKey">Farmer ID</option>
							<option value="fName">Farmer Name</option>
						</select>
					</td>
					<td>
						<form>
						
							<input type="text" ng-model="search[filter]" name="searchPValue" maxlength="30" autocomplete=off required Placeholder="Search Item Value">
						
						</form>
					</td>
					
					</tr>
				</table>
	     	</div>
	     	
	     	
	     	<div class="search_box" ng-show="billSearch_Show">
	     		<table>
					<tr>
					<td>
						<select ng-model="searchBy" ng-change="changedValue()">
							<option value="">Search By:</option>
							<option value="bill_id">Bill ID</option>
							<option value="bDate">Bill Date</option>
							<option value="cKey">Customer Key</option>
							<option value="bExpectedDeliveryDate">Expected Delivery Date</option>
							<option value="bPickupLocation">Pickup Location</option>
							<option value="bDropLocation">Drop off Location</option>
							<option value="driver_id">Drive ID</option>
							<option value="bTotal">Total Amount</option>
						</select>
					</td>
					<td>
						<form>
						
							<input type="text" ng-model="searchBill[filter]" maxlength="30" autocomplete=off required Placeholder="Search Item Value">
						
						</form>
					</td>
					
					</tr>
				</table>
	     	</div>
	     	
			<div class="clear"></div>
	     
		 </div>	     
	<div class="header_slide">
			<div class="clear"></div>
		</div>
   </div>
  <div class="main">
    <div class="content" style="width:92%; margin:0 auto;">
    	<div class="content_top" ng-show = "cProductHeader_Show">
    		<div class="heading">
                    <h3>Product List:</h3>
    		</div>
    		<div class="clear"></div>
    	</div>
	      <div class="section group" id="cProducts" ng-show="cProductList_Show">
 		<div  style="width:100%; display: block; clear: both;">
        	<div style="margin:0 auto;">
				<div style="width:23%;" class="grid_1_of_4 images_1_of_4" ng-repeat = "product in productArray | filter:search | startFrom:currentPage*pageSize | limitTo:pageSize"  ng-init="prductID=product.pID">
					 <a ><img src="/uploads/images/{{product.pImage}}" alt="" width="320" height="240"/></a>
					 	<h2><a ng-click="customerGetProductDetails(prductID)">{{product.pName}}</a></h2> <span>#{{product.pID}}</span> <br/> <br/>by <h4><a ng-click="customerGetFarmerDetails(product.fKey)">{{product.fName}}</a><h4>
						<div class="price-details" style="width:100%;">
				      		 <div style="height: 110px;" class="price-number" style="width:52%;">
								<p class="mar-bot"><span class="rupees">${{product.pPrice}}</span></p>
								
								<p class="mar-bot" ng-if="checkDiscount">
									<span style="color: red;" class="rupees">{{product.pDiscount}}%</span>
									<br/>Discounted Price:<br/>
									<span class="rupees" style="font-size: 12px; font-weight: bold;">${{product.discountedPrice}}</span>
								</p>
								
								<p class="mar-bot">
									<span class="rupees" style="font-size: 1.2em;">Rated <span style="font-weight:bold;">{{product.pAvgRatings}}</span> out of <span style="font-weight:bold;">5</span></span>
								</p>
					    	</div>
					    	<input type="text" ng-show=false ng-model="prductID">
					       	<div class="add-cart addcrt" style="width:44%;">
								<h4><a class="button" ng-click="addToCart(product,1)">Add to Cart</a></h4>
								<h4><a class="button blue-btn" ng-click="customerGetProductDetails(prductID)">Show Details</a></h4>
							</div>
						<div class="clear"></div>
						
						</div>
					</div>
					 
				</div>
				<div style="display:block; width: 100%; clear: both;">
				    <center>
					    <button ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1">Previous</button>
							{{currentPage+1}}/{{numberOfPages(productArray)}}
						<button ng-disabled="currentPage >= productArray.length/pageSize - 1" ng-click="currentPage=currentPage+1">
							Next </button>
					</center> 
				</div>
			</div>
					</div>	
					<div id="cUpdateDetails" ng-show="cUpdateDetailsForm_Show">
						 
						<form role="form" id="" name="customerUpdateForm" class="form-horizontal">
							<div class="heading form-left" style="float: left; clear: both;">
								 <h3><strong>Update Profile</strong> </h3>
							  </div>
							  <div class="form-group form-left">
								 <div class="col-xs-3 col-mn">
									<input class="form-control form-inp" type="text" id="cSSN"
									name="cSSN" ng-model="customer.cSSN" autocomplete="on"
									autofocus placeholder="Customer SSN 123-45-5678 *" 
									ng-maxlength=11 ng-minlength=11 maxlength=11 ng-pattern="/^[0-9]{3}\-[0-9]{2}\-[0-9]{4}$/" required>
									<span class="spnerr">
										<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
										<span ng-show="customerUpdateForm.cSSN.$error.pattern || customerUpdateForm.cSSN.$error.maxlength || customerUpdateForm.cSSN.$error.minlength" class="alert alert-warning">
  SSN must be 9 digit long and contain numbers only</span>
										<span ng-show="customerUpdateForm.cSSN.$error.required && customerUpdateForm.cSSN.$dirty" class="alert alert-danger"><strong>SSN</strong> is required</span>
    								</span>	
								</div>
								
								<div class="col-xs-3 col-mn">
									<input class="form-control form-inp" type="text" id="cEmail"
										 name="cEmail" ng-model="customer.cEmail" autocomplete="on"
										  autofocus aria-required="true" placeholder="Email *" 
										  maxlength=30 ng-pattern="/[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,6}/" required>
									<span class="spnerr">
										<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
										<span ng-show="customerUpdateForm.cEmail.$error.pattern" class="alert alert-warning">
  Please enter valid email</span>
    									<span ng-show="customerUpdateForm.cEmail.$error.required && customerUpdateForm.cEmail.$dirty" class="alert alert-danger"><strong>Email</strong> is required</span>
    								</span>	
								</div>
								
								<div class="col-xs-3 col-mn">
									<input class="form-control form-inp" type="text" id="cFirstName"
									name="cFirstName" ng-model="customer.cFirstName" autocomplete="on"
									autofocus aria-required="true" placeholder="First Name *" 
									maxlength=20 ng-pattern="/^[A-Za-z ]*$/" required>
									<span class="spnerr">
										<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
										<span ng-show="customerUpdateForm.cFirstName.$error.pattern" class="alert alert-warning">First name must contain letters only</span>
    									<span ng-show="customerUpdateForm.cFirstName.$error.required && customerUpdateForm.cFirstName.$dirty" class="alert alert-danger">First name is required</span>
    								</span>	
								</div>
									
								<div class="col-xs-3 col-mn">
									<input class="form-control form-inp" type="text" id="cLastName"
									name="cLastName" ng-model="customer.cLastName" autocomplete="on"
									autofocus aria-required="true" placeholder="Last Name *" 
									maxlength=20 ng-pattern="/^[A-Za-z ]*$/" required>
									<span class="spnerr">
										<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
										<span ng-show="customerUpdateForm.cLastName.$error.pattern" class="alert alert-warning">Last name must contain letters only</span>
    									<span ng-show="customerUpdateForm.cLastName.$error.required && customerUpdateForm.cLastName.$dirty" class="alert alert-danger"><strong>Last name</strong> is required</span>
    								</span>	
								</div>	
								
								<div class="col-xs-3 col-mn">
									<input class="form-control form-inp" type="text"
										 name="cPhoneNumber" ng-model="customer.cPhoneNumber" autocomplete="on"
										  autofocus aria-required="true" placeholder="Phone Number *" 
										  ng-maxlength=10 ng-minlength=10 maxlength=10 ng-pattern="/[\+]?[(]?[0-9]{3}[)]?[-\s\.]?[0-9]{3}[-\s\.]?[0-9]{4,6}/" required>
									<span class="spnerr">
										<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
										<span ng-show="customerUpdateForm.cPhoneNumber.$error.pattern || customerUpdateForm.cPhoneNumber.$error.maxlength || customerUpdateForm.cPhoneNumber.$error.minlength" class="alert alert-warning">Phone number must be 10 digit long and should contain numbers only</span>
										<span ng-show="customerUpdateForm.cPhoneNumber.$error.required && customerUpdateForm.cPhoneNumber.$dirty" class="alert alert-danger"><strong>Phone number</strong> is required</span>
    								</span>	
								</div>		
								
								
								<div class="col-xs-3 col-mn">
									<input class="form-control form-inp" type="text"
										 name="cAddress" ng-model="customer.cAddress" autocomplete="on"
										  autofocus aria-required="true" placeholder="Address *" 
										  maxlength=40 ng-pattern="/[A-Za-z0-9. ]/" required>
									<span class="spnerr">
										<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
											<span ng-show="customerUpdateForm.cAddress.$error.required && customerUpdateForm.cAddress.$dirty" class="alert alert-danger"><strong>Address</strong> is required</span>
    									</span>
    								</span>		
								</div>	
								
								<div class="col-xs-3 col-mn">
									<input class="form-control form-inp" type="text"
										 name="cCity" ng-model="customer.cCity" autocomplete="on"
										  autofocus aria-required="true" placeholder="City *" 
										  maxlength=20 ng-pattern="/^[A-Za-z ]*$/" required>
									<span class="spnerr">
										<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
										<span ng-show="customerUpdateForm.cCity.$error.pattern" class="alert alert-warning">City name must contain letters only</span>
										<span ng-show="customerUpdateForm.cCity.$error.required && customerUpdateForm.cCity.$dirty" class="alert alert-danger"><strong>City</strong> name is required</span>
    								</span>		
								</div>	
								
<!-- 								<div class="col-xs-3 col-mn">
									<input class="form-control form-inp" type="text"
										 name="cState" ng-model="customer.cState" autocomplete="on"
										  autofocus aria-required="true" placeholder="State *" 
										  maxlength=20 ng-pattern="/^[A-Za-z ]*$/" required>

									<span class="spnerr">
										<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
										<span ng-show="customerUpdateForm.cState.$error.pattern" class="alert alert-warning">State name must contain letters only</span>
										<span ng-show="customerUpdateForm.cState.$error.required && customerUpdateForm.cState.$dirty" class="alert alert-danger"><strong>State</strong> name is required</span>
    								</span>		
								</div>	 -->
								
								
					<div class="col-xs-3 col-mn" >
								
								
									
    
    					<select class="form-control form-inp" name="cState" ng-model="customer.cState" required   background-color: #669900;    color: #fff;>
      						<option value="">Select State</option>
      						<option value="AL">AL</option>
      						<option value="AK">AK</option>
      						<option value="AZ">AZ</option>
      						<option value="AR">AR</option>
      						<option value="CA">CA</option>
      						<option value="CO">CO</option>
      						<option value="CT">CT</option>
      						<option value="DE">DE</option>
      						<option value="FL">FL</option>
      						<option value="GA">GA</option>
      						<option value="HI">HI</option>
      						<option value="ID">ID</option>
      						<option value="IL">IL</option>
      						<option value="IN">IN</option>
      						<option value="IA">IA</option>
      						<option value="KS">KS</option>
      						<option value="KY">KY</option>
      						<option value="LA">LA</option>
      						<option value="ME">ME</option>
      						<option value="MD">MD</option>
      						<option value="MA">MA</option>
      						<option value="MI">MI</option>
      						<option value="MN">MN</option>
      						<option value="MS">MS</option>
      						<option value="MO">MO</option>
      						<option value="MT">MT</option>
      						<option value="NE">NE</option>
      						<option value="NV">NV</option>
      						<option value="NH">NH</option>
      						<option value="NJ">NJ</option>
      						<option value="NM">NM</option>
      						<option value="NY">NY</option>
      						<option value="NC">NC</option>
      						<option value="ND">ND</option>
      						<option value="OH">OH</option>
      						<option value="OK">OK</option>
      						<option value="OR">OR</option>
      						<option value="PA">PA</option>
      						<option value="RI">RI</option>
      						<option value="SC">SC</option>
      						<option value="SD">SD</option>
      						<option value="TN">TN</option>
      						<option value="TX">TX</option>
      						<option value="UT">UT</option>
      						<option value="VT">VT</option>
      						<option value="">VA</option>
      						<option value="WA">WA</option>
      						<option value="WV">WV</option>
      						<option value="WI">WI</option>
      						<option value="WY">WY</option>
      						<option value="DC">DC</option>
    					</select>
    	
									<span>
										<span>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</span>
										<span ng-show="customerUpdateForm.cState.$error.required && customerUpdateForm.cState.$dirty" class="alert alert-danger">State name is required</span>
    								</span>		
								</div>	
								
								
								
								
								<div class="col-xs-3 col-mn">
									<input class="form-control form-inp" type="text"
										 name="cZip" ng-model="customer.cZip" autocomplete="on"
										  autofocus aria-required="true" placeholder="Zip Code *" 
										  ng-minlength=5 ng-maxlength=5 maxlength=5 ng-pattern="/^\d+$/" required>
									<span class="spnerr">
										<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
										<span ng-show="customerUpdateForm.cZip.$error.pattern || customerUpdateForm.cZip.$error.maxlength || customerUpdateForm.cZip.$error.minlength" class="alert alert-warning">Zip code must be 4-6 digit long and should contain numbers only</span>
										<span ng-show="customerUpdateForm.cZip.$error.required && customerUpdateForm.cZip.$dirty" class="alert alert-danger"><strong>Zip</strong> code is required</span>
    								</span>	
								</div>	
								
								<div>
								<span style="color:red">{{serverError}}</span>
								</div>
								
								<div class="doit" style="float: left; clear: left;">
									<input class="btn btn-success but1" type="submit"
										id="submit_button" value="Update Details" ng-click="customerUpdateDetails()" ng-disabled="customerUpdateForm.$invalid">
								</div>
							<div class="doit" style="float: left; clear: left;">
									<input class="btn btn-success but1 red-btn" type="submit"
										id="submit_button" value="Delete Account" ng-click="customerDeleteAccount(customer.cKey)">
							</div>
							<div class="doit" style="float: left; clear: left;">
								<button class="btn btn-success but1 blue-btn" id="submit_button" value="Change Password" ng-click="passwordShow()">Change Password</button>
							</div>
							
							<div class="doit" style="float: left; clear: left; margin-bottom: 25px;">
								<button style="background-color:#383838; border-color:#383838;" class="btn btn-success but2" id="submit_button" value="Change Credit Card Details" ng-click="creditInfoShow(customer.cExistingNumber)">Change Credit Card Information</button> <!-- creditInfoShow(customer.cExistingNumber) -->
							</div>
	                     
							  </div>
							</form>
			</div>
			
			<div ng-show="cPasswordUpdate_Show">
				<form id="" name="customerPasswordForm" class="form-horizontal">
							<div class="heading form-left" style="float: left; clear: both;">
								 <h3><strong>Change Password</strong> </h3>
							  </div>
                              <!--old pass input-->
							  <div class="form-group form-left">
								 <div class="col-xs-3 col-mn">
							<input class="form-control form-inp" type="password" id="cOldPassword" name="cOldPassword"
								ng-model="password.cOldPassword" autocomplete="on" autofocus
								aria-required="true" placeholder="Old Password *" maxlength=30
								ng-pattern="/(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*([-+_!@#$%^&*.,?])).{5,7}/"
								required> <span class="spnerr"> <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
								<span
								ng-show="customerPasswordForm.cOldPassword.$error.pattern" class="alert alert-warning">Password
									must contain a Number, Capital Letter, Small Letter and Special
									Character</span> <span
								ng-show="customerPasswordForm.cOldPassword.$error.required && customerPasswordForm.cOldPassword.$dirty"class="alert alert-danger"><strong>Password</strong>
									is required</span>
							</span>
						</div>
						
                              <!--new pass input-->
								 <div class="col-xs-3 col-mn">
							<input class="form-control form-inp" type="password" id="cNewPassword" name="cNewPassword"
								ng-model="password.cNewPassword" autocomplete="on" autofocus
								aria-required="true" placeholder="New Password *" maxlength=30
								ng-pattern="/(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*([-+_!@#$%^&*.,?])).{5,7}/"
								required> <span class="spnerr"> <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
								<span
								ng-show="customerPasswordForm.cNewPassword.$error.pattern" class="alert alert-danger"><strong>Password
									must contain a Number, Capital Letter, Small Letter and Special
									Character</span> <span style="color: red"
								ng-show="customerPasswordForm.cNewPassword.$error.required && customerPasswordForm.cNewPassword.$dirty" class="alert alert-danger"><strong>Password</strong>
									is required</span>
							</span>
						</div>

						<div>
							<span style="color: red">{{serverPasswordError}}</span>
						</div>

						<div class="doit" style="float: left; clear: left;">
							<input class="btn btn-success but1"  type="submit" id="submit_button" value="Update Password"
								ng-click="passwordUpdate()"
								ng-disabled="customerPasswordForm.$invalid">
						</div>
                        </div>
   	                     <div style="float: left; clear: left; height: 30px;">&nbsp;</div>
					</form>
			</div>
			
			
			<div ng-show="cCCUpdate_Show">
				<form id="" name="customerCCForm" class="form-horizontal">
							<div class="heading form-left" style="float: left; clear: both;">
								 <h3><strong>Update Credit Card Information</strong> </h3>
							  </div>
							  <div class="form-group form-left">
								 <div class="col-xs-3 col-mn">
									<input class="form-control form-inp" type="text" ng-disabled=true name="cCreditCardNumber" ng-model="cCreditCardNumber.cOldCCNo"  placeholder="Credit Card Number *" autocomplete=off  >
									
									
								</div>
								
								 <div class="col-xs-3 col-mn">
									<input class="form-control form-inp" type="text" name="cCreditCardNumber" ng-model="cCreditCardNumber.cNewCCNo" maxlength="19" placeholder="Credit Card Number *" autocomplete=off  ng-minlength=16 ng-maxlength=19 maxlength=19 ng-pattern="/^\d+$/" required/>
									<span class="spnerr">
										<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
										<span ng-show="customerCCForm.cCreditCardNumber.$error.pattern || customerCCForm.cCreditCardNumber.$error.maxlength || customerCCForm.cCreditCardNumber.$error.minlength"class="alert alert-warning">Card number must be 16-19 digit long and should contain numbers only</span>
										<span ng-show="customerCCForm.cCreditCardNumber.$error.required && customerCCForm.cCreditCardNumber.$dirty"class="alert alert-danger"><strong>Card number</strong> is required</span>
    								</span>	
								</div>
								
								 <div class="col-xs-3 col-mn">
									<input class="form-control form-inp" type="password" name="cCreditCardSC" ng-model="cCreditCardNumber.cCreditCardSC" placeholder="CCV *" autocomplete=off required ng-minlength=3 ng-maxlength=3 maxlength=3 ng-pattern="/^\d+$/" >
										<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
										<span ng-show="customerCCForm.cCreditCardSC.$error.pattern || customerCCForm.cCreditCardSC.$error.maxlength || customerCCForm.cCreditCardSC.$error.minlength"class="alert alert-warning">Security Code must be 3 digit long and should contain numbers only</span>
										<span ng-show="customerCCForm.cCreditCardSC.$error.required && customerCCForm.cCreditCardSC.$dirty"class="alert alert-danger"><strong>Security code</strong> is required</span>
    								</span>	
								</div>
								
								 <div class="col-xs-3 col-mn">
									<select class="form-control form-inp" ng-model="cCreditCardNumber.cCreditCardMonth" name="cCreditCardMonth"  required autocomplete=off >
										<option value="">---Expiration month---</option>
      									<option value="01">January</option>
      									<option value="02">Feburary</option>
      									<option value="03">March</option>
      									<option value="04">April</option>
      									<option value="05">May</option>
      									<option value="06">June</option>
      									<option value="07">July</option>
      									<option value="08">August</option>
      									<option value="09">September</option>
      									<option value="10">October</option>
      									<option value="11">November</option>
      									<option value="12">December</option>
									</select>
									
									<span>
										<span>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</span>
										<span ng-show="customerCCForm.cCreditCardMonth.$error.required && customerCCForm.cCreditCardMonth.$dirty" class="alert alert-danger">Credit Card Month is required</span>
    								</span>	
									
								</div>
					
								 <div class="col-xs-3 col-mn">
									<select class="form-control form-inp" ng-model="cCreditCardNumber.cCreditCardYear" name="cCreditCardYear" required autocomplete=off>
										<option value="">---Expiration year---</option>
      									<option value="2016">2016</option>
      									<option value="2017">2017</option>
      									<option value="2018">2018</option>
      									<option value="2019">2019</option>
      									<option value="2020">2020</option>
      									<option value="2021">2021</option>
      									<option value="2022">2022</option>
									</select>
									
									<span>
										<span>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</span>
										<span ng-show="customerCCForm.cCreditCardYear.$error.required && customerCCForm.cCreditCardYear.$dirty" class="alert alert-danger">Credit Card Month is required</span>
    								</span>	
									
								</div>
								
								<div>
									<span style="color: red">{{serverCreditCardError}}</span>
								</div>
								
                              <!--old pass input-->
								<div  class="doit" style="float: left; clear: left;">
									<input class="btn btn-success but1" type="submit"
										id="submit_button" value="Update Credit Card" ng-click="creditUpdate()" ng-disabled="customerCCForm.$invalid">
								</div>
							</div>
	                     <div style="float: left; clear: left; height: 30px;">&nbsp;</div>
					</form>
			</div>
			
	<div ng-show = "cBillList_Show">		
		<div class="content_top" ng-repeat="bill in billArray | startFrom:currentPage*pageSize | limitTo:pageSize | filter:searchBill" >
	    		<div class="heading">
	                    <tr>
	                    <td><h3>Bill ID #{{bill.bill_id}}</h3></td>
	                    <td><h3>Bill Total: ${{bill.bTotal}}</h3></td>
	                    <td><h3>Bill generated on: {{bill.bDate | date: 'yyyy-MM-dd'}}</h3></td>
	                    <td><h3>Expected Delivery Date: {{bill.bExpectedDeliveryDate | date: 'yyyy-MM-dd' }}</h3></td>
	    				</tr>
	    		</div>
				<div style="float:right;">
		        <div class="add-cart">								
						<h4><a class="button red-btn" ng-click="customerRemoveBill(bill.bill_id)">Remove Bill</a></h4>
				</div>
				 <div class="add-cart" >								
						<h4><a class="button blue-btn" ng-hide= true ng-click="editBill_Show=true;">Edit Bill</a></h4>
				</div>
				<div class="add-cart" >								
						<h4><a class="button" ng-click="customerGetBillDetails(bill.bill_id)">View Bill Details</a></h4>
				</div>
				</div>
			    <div ng-show="editBill_Show" >
					<input type="date" ng-model="newDateSelected" name="newDateSelected" id="newDateSelected">
					<div class="add-cart" >								
							<h4><a class="button" ng-click="editBill(bill.bill_id,bill.bExpectedDeliveryDate,newDateSelected)">Save Changes</a></h4>
					</div>
				</div>
			    	<div class="clear"></div>
			    		<div style="display:block; width: 100%; clear: both;">
					</div>
	    	</div>
	    		    		<center>
						    <button ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1">Previous</button>
								{{currentPage+1}}/{{numberOfPages(billArray)}}
							<button ng-disabled="currentPage >= billArray.length/pageSize - 1" ng-click="currentPage=currentPage+1">
								Next </button>
				</center> 

	    </div>
	<!-- ****************************************************** PRODUCT DETAIL************************************************ -->		
			<div ng-show="productProfileShow">
				<div class="main">
						<div class="content" style="padding:3px;">
							<div class="section group">
<!-- Product Details div -->	<div class="cont-desc span_1_of_2" ng-show="productDetailShow" >
									<div class="product-details">
										<div class="grid images_3_of_2">
											<div id="container">
												<div id="products_example">
													<div id="products">
														<div class="slides_container"
															style="overflow: hidden; position: relative; display: block; width: 300px; height: 320px;">
															<img src="/uploads/images/{{product.pImage}}"
																style="max-height: 275px; min-height: 320px;" />
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="desc span_3_of_2">
										<div class="pad_bot">
												<p class="pad_5">
													<span><h1 style="color: #679900; font-size: 28px; font-weight: bold; text-transform: uppercase;">{{product.pName}}</h1></span>
													</p>
													<p class="pad_5">#{{product.pID}}</p> 
													<p class="pad_5">by <span class="hname">{{product.fName}}</span></p>
												
												<p class="pad_5">
													Price :<span class="hname">${{product.pPrice}}</span>
												</p>
												
												<p class="pad_5" ng-if="checkDiscount">
													<span style="color: red;" class="rupees">{{product.pDiscount}}%</span>
													<br/>Discounted Price:
													<span class="pad_5" style="font-size: 12px; font-weight: bold;">${{product.discountedPrice}}</span>
												</p>
												
												<p class="pad_5">
													Product Description: <span>{{product.pDesc}}</span>
												</p>
												<p class="pad_5">
													Quantity : 
													<select ng-model="quantity10" id="quantity10" required  style="color:#000;">
				      									<option value="1" ng-selected=true>1</option>
				      									<option value="2">2</option>
				      									<option value="3">3</option>
				      									<option value="4">4</option>
				      									<option value="5">5</option>
				      									<option value="6">6</option>
				      									<option value="7">7</option>
				      									<option value="8">8</option>
				      									<option value="9">9</option>
				      									<option value="10">10</option>
													</select>
												</p>
												</div>
												<div class="add-cart">								
													<h4><a class="btn btn-success" ng-click="addToCart(product,quantity10)">Add to Cart</a></h4>
												</div>	
												
																								
												
											<div class="share-desc" align="left">
												<div class="clear"></div>
											</div>
										</div>
										<div class="clear"></div>
									</div>
										
									<form name="productReviewForm">
									<div>
										<div class="productReviewRatings" >
												<div class="productRate">
													<select ng-model="productReviewRatings.rating" name="rating" required autocomplete=off >
														<option value="">---Rate---</option>
				      									<option value="01">1</option>
				      									<option value="02">2</option>
				      									<option value="03">3</option>
				      									<option value="04">4</option>
				      									<option value="05">5</option>
													</select>
												</div>
												<p>&nbsp;<br/><br/></p>
												<div class="productReview">
													<h3 class="pad_bot">Reviews:</h3>
													<textarea class="form-control" rows="5" ng-model="productReviewRatings.review" name="review" placeholder="Place your review here" required></textarea>
												</div>
													
												<span>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</span>
												<span ng-show="productReviewForm.rating.$error.required && productReviewForm.rate.$dirty && productReviewForm.review.$error.required && productReviewForm.review.$dirty">Write a review</span>
		
													</div>
												
												<div class="doit pad_bot">
													<input class="btn btn-primary" type="submit"
														id="submit_button" value="Review" ng-click="insertReviewRatings(product,product.pAvgRatings)" ng-disabled="productReviewForm.$invalid">
												</div>
<!-- **************************************************************Review and Ratings show****************************************************************************** -->											
												<p class="hname pad_top">Review and Ratings</p>
												Average Ratings:<p>{{product.pAvgRatings}}</p>
													<div ng-repeat = "review in product.pReviewRatings">
														<hr>
														<p style="color:gray; text-transform: uppercase;"> -by {{review.cName}}</p>
															<p><h4>Ratings:<span style="color:black;"> {{review.rating}}</span></h4></p>
															<p style="margin-bottom: 20px;"><h3>Reviews:<br/> <span style="color:black;">{{review.review}}</span></h3></p>
													</div>
										</div>
									</form>
								</div>
								<!-- </div> -->
								

					
		<!-- ************************************************Billing ************************************************* -->
					
				<div ng-show = "billingFormShow" class="cont-desc span_1_of_2" style="width:100%;" >			
					<div class="desc span_3_of_2 cart_adr">
					<div class="heading pad_bot" style="float: left; clear: both; width: 100%;">
						 <h3><strong>Billing Address</strong> </h3>
					  </div>
					  <div class="form-group" style="display:block; clear: both; width: 100%;">
					 <form id="" name="billingForm" class="form-group">
								<div class="bill_form_left">
									<input type="text"
										 name="cAddress" ng-model="checkOutInfo.cAddress" autocomplete="on"
										  autofocus aria-required="true" placeholder="Address *" 
										  maxlength=40 ng-pattern="/[A-Za-z0-9. ]/" required class="form-control input-lg">
									</div>
									<div  class="bill_form_right">
									<span class="bill_form_span">
										<span>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</span>
										<span ng-show="billingForm.cAddress.$error.required && billingForm.cAddress.$dirty" class="alert alert-warning">Address is required</span>
    								</span>
								</div>
								<div class="bill_form_left">
									<input type="text"
										 name="cCity" ng-model="checkOutInfo.cCity" autocomplete="on"
										  autofocus aria-required="true" placeholder="City *" 
										  maxlength=20 ng-pattern="/^[A-Za-z ]*$/" required class="form-control input-lg">
									</div><div class="bill_form_right">
									<span class="bill_form_span">
										<span>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</span>
										<span ng-show="billingForm.cCity.$error.pattern" class="alert alert-warning">City name must contain letters only</span>
										<span ng-show="billingForm.cCity.$error.required && billingForm.cCity.$dirty" class="alert alert-danger">City name is required</span>
										</span>
    								</span>		
								</div>	
								
<!-- 								<div class="bill_form_left">
									<input type="text"
										 name="cState" ng-model="checkOutInfo.cState" autocomplete="on"
										  autofocus aria-required="true" placeholder="State *" 
										  maxlength=20 ng-pattern="/^[A-Za-z ]*$/" required class="form-control input-lg">
									</div><div class="bill_form_right">
										<span class="bill_form_span">
										<span>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</span>
										<span ng-show="billingForm.cState.$error.pattern" class="alert alert-warning">State name must contain letters only</span>
										<span ng-show="billingForm.cState.$error.required && billingForm.cState.$dirty" class="alert alert-danger">State name is required</span>
										</span>
    								</span>		
								</div>	 -->
								
								<div class="bill_form_left" style=" padding-bottom: 0px;">
								
								
									
    
    					<select class="form-control input-lg" name="cState" ng-model="checkOutInfo.cState" required >
      						<option value="">Select State</option>
      						<option value="AL">AL</option>
      						<option value="AK">AK</option>
      						<option value="AZ">AZ</option>
      						<option value="AR">AR</option>
      						<option value="CA">CA</option>
      						<option value="CO">CO</option>
      						<option value="CT">CT</option>
      						<option value="DE">DE</option>
      						<option value="FL">FL</option>
      						<option value="GA">GA</option>
      						<option value="HI">HI</option>
      						<option value="ID">ID</option>
      						<option value="IL">IL</option>
      						<option value="IN">IN</option>
      						<option value="IA">IA</option>
      						<option value="KS">KS</option>
      						<option value="KY">KY</option>
      						<option value="LA">LA</option>
      						<option value="ME">ME</option>
      						<option value="MD">MD</option>
      						<option value="MA">MA</option>
      						<option value="MI">MI</option>
      						<option value="MN">MN</option>
      						<option value="MS">MS</option>
      						<option value="MO">MO</option>
      						<option value="MT">MT</option>
      						<option value="NE">NE</option>
      						<option value="NV">NV</option>
      						<option value="NH">NH</option>
      						<option value="NJ">NJ</option>
      						<option value="NM">NM</option>
      						<option value="NY">NY</option>
      						<option value="NC">NC</option>
      						<option value="ND">ND</option>
      						<option value="OH">OH</option>
      						<option value="OK">OK</option>
      						<option value="OR">OR</option>
      						<option value="PA">PA</option>
      						<option value="RI">RI</option>
      						<option value="SC">SC</option>
      						<option value="SD">SD</option>
      						<option value="TN">TN</option>
      						<option value="TX">TX</option>
      						<option value="UT">UT</option>
      						<option value="VT">VT</option>
      						<option value="">VA</option>
      						<option value="WA">WA</option>
      						<option value="WV">WV</option>
      						<option value="WI">WI</option>
      						<option value="WY">WY</option>
      						<option value="DC">DC</option>
    					</select>
    	
									<span>
										<span>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</span>
										<span ng-show="billingForm.cState.$error.required && billingForm.cState.$dirty" class="alert alert-danger">State name is required</span>
    								</span>		
								</div>	
								
								
								
								
								
								
								
								<div class="bill_form_left">
									<input type="text"
										 name="cZip" ng-model="checkOutInfo.cZip" autocomplete="on"
										  autofocus aria-required="true" placeholder="Zip Code *" 
										  ng-minlength=5 ng-maxlength=5 maxlength=5 ng-pattern="/^\d+$/" required class="form-control input-lg"></div><div class="bill_form_right">
									<br/><br/><span class="bill_form_span">
										<span>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</span>
										<span ng-show="billingForm.cZip.$error.pattern || billingForm.cZip.$error.maxlength || billingForm.cZip.$error.minlength" class="alert alert-warning">Zip code must be 4-6 digit long and should contain numbers only</span>
										<span ng-show="billingForm.cZip.$error.required && billingForm.cZip.$dirty" class="alert alert-danger">Zip code is required</span>
    								</span>	
								</div>	
								
								

<!-- 													 <table width="100%" border="0" cellspacing="0"	cellpadding="0">
														<tbody>
															<tr>
																<td><input type="radio" ng-model="dateSelected"
																	value="3"></td>
																<td class="maindelivery" style="width: 8px;">&nbsp;</td>
																<td>Normal delivery!! The order will be delivered
																	to your before {{normal}}</td>
															</tr>
															<tr>
																<td class="maindelivery"><input type="radio"
																	ng-model="dateSelected" value="2"></td>
																<td style="width: 8px;">&nbsp;</td>
																<td>Fast delivery!! The order will be delivered to
																	your door before {{fast}}</td>
															</tr>
															<tr>
																<td class="maindelivery"><input type="radio"
																	ng-model="dateSelected" value="1"></td>
																<td style="width: 8px;">&nbsp;</td>
																<td>Super fast delivery!! The order will be
																	delivered to your before {{superfast}}</td>
															</tr>
														</tbody>
													</table> -->
													
													<div>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
                                <tbody>
									<tr>
										  <td class="maindelivery" >
                                          										    <input ng-model="checkOutInfo.dateSelected" name="dateSelected" type="radio"  ng-value="3" ng-checked = true>
                                                                                    </td>
                                            <td style="width:8px;">&nbsp;</td>
										  <td class="maindelivery">                                        
										    Normal delivery!! The order will be delivered to your before {{normal}}
								    </td>
                                    </tr>
									<tr>
										  <td class="maindelivery" >
										    <input ng-model="checkOutInfo.dateSelected" name="dateSelected" type="radio"  ng-value="2">
                                            </td>
                                     <td style="width:8px;">&nbsp;</td>
										  <td class="maindelivery">  
										    Fast delivery!! The order will be delivered to your door before {{fast}}
									 </td>
                                     </tr>
                                     
									<tr>
										  <td class="maindelivery">
										    <input ng-model="checkOutInfo.dateSelected" name="dateSelected" type="radio"  ng-value="1">
                                            </td>
                                            <td style="width:8px;">&nbsp;</td>
                                            <td class="maindelivery">  
										    Super fast delivery!! The order will be delivered to your before {{superfast}}
									</td>
                                     </tr>
                                     </tbody>
                                     </table>
								</div>
													
													
							
								
								<div>
								<span style="color:red">{{serverError}}</span>								</div>
								
								<div class="doit">
									<input class="btn btn-success but1 blue-btn" type="submit"
										id="submit_button" value="Place Order" ng-click="placeOrder(checkOutInfo)" ng-disabled="billingForm.$invalid">
								</div>
							</form>
							</div>	
						</div>					
								<div style="float:right; width: 23%;">
                            <div class="heading pad_bot" style="float:none;">
                                 <h3><strong>Shopping Cart</strong> </h3>
                                <div id="totalsLine" class="cartElement showCoupons">
                                   <div class="cartSubtotal">Total Bill ${{billTotal}}</div>
                                   
                                   <div class="cartQuantity">({{inCartItems}} items)</div>
                                   
                                   
                                </div>
                                <div class="clear"></div>
                    
                              </div>
<!-- *****************************************************Shopping Cart************************************************************************************** -->
								
								
								<div class="rightsidebar span_3_of_1 cart_scroll" style="margin: 0px;border: 1px solid #ededed;border-radius: 3px; padding: 3%;" ng-show="cartShow">
								<div id="refreshCart">
                                 
                                    <div id="viewCartAddress" class="">
                                      <!-- 
                                        
                                            <div id="linkForChange">
                                                (<a href="#">change delivery address</a>) 
                                            </div> -->
                                            <div id="addressChangeBlock"></div>
                                        
                                    </div>
                                
                                <div class="inlineCartHeader " align="center">
                                    
                                            <!-- <form action="" method="post">
                                                <input type="hidden" name="" value="Gateway" />
                                                
                                                
                                                
                                                    <input type="image" align="absmiddle" value="submit" alt="Proceed to Checkout"
                                                       title="Proceed to Checkout" ng-click="proceedToCheckOut()"  src="https://images-na.ssl-images-amazon.com/images/G/01/omaha/images/ui/btn-proceedtocheckout2._V146077459_.png" />
                                                
                                                
                                            </form> -->
                                            
                                            
                                    
                                </div>
                                
                                            <div class="clear"></div>
                                
                                <div class="cartSectionHeader">
                                    
                                </div>
                                
                                <div class="cartSection" id="cartSection">
                                    
                                
                                    
                                    <div id="shoppingCartItem1" class="item" >
                                        <div class="mainContent pad_5" ng-repeat="product in inCartDetails" style="border-bottom: 1px solid #ededed;">
                                        
                                                <div class="removeButtonBox" style="float:right; display: block; width: 12%;">
													<div class="removeButton" style="float:right;">
															<form>
																<a  ng-click="removeFromCart(product.pID)" style="color:#9b1212;font-size: 18px;font-weight: bold;">x
														</a>
														</form>
													</div>
                                                </div>
                                            <div class="imageBox" style="float:left; display: block; width: 30%;">
                                                <a target="_top"><img style="max-width:60px; min-height:72px; min-width:55px;" src="/uploads/images/{{product.pImage}}" height="50" title="Product Image" /></a>    
                                            </div>
                                            
                                            <div class="detailsBox" style="display: inline-block; width: 50%;">
                                                 <div class="itemTitle" style="display: inline-block;">
                                                    {{product.pName}}
                                                </div>
                                                
                                                <div class="priceBox">
                                                        <span class="value" ng-if="second"><strong>${{product.pPrice}}</strong></span><br/>
                                                        <span class="value" ng-if="checkDiscount"><strong>${{product.discountedPrice}}</strong></span><br/>
                                                </div>
													<div class="pad_top">
                                                    <input class="form-control input-sm" style="width:40%;" type="number" min="1" max="10" ng-model="product.total_quantity"/>
                                                  
                                                            
                                                </div>
                                
                                            </div>
                                          
                                        </div>
                                        <div class="extraContent">
                                            
                                
                                 
                                        </div>
                                    </div>
                                <!--    
                                    <div id="shoppingCartItem2" class="item  ">
                                        <div class="mainContent" >
                                
                                            <div class="changeQuantityBox">
                                                <div class="quantity">
                                                   <div class="quantityValue">1</div>
                                                </div>
                                                
                                                
                                                    <div class="buttons">
                                
                                <div class="plusButton">-->
    
    
    
        <!-- <form >
    
    
	    <input type="hidden" name="action" value="setQuantity" />
	    <input type="hidden" name="asin" value="B00E3KZ3VO" />
	    <input type="hidden" name="referer" value="Gateway" />
	    <input type="hidden" name="refId" value="189-3864245-9785837" />
	    <input type="hidden" name="showExistingOrder" value="true"/>
	    <input type="hidden" name="view" value="preview" />
	    <input type="hidden" name="quantity" value="0" />
	    
	    
	    
	    
	        <input type="image" value="" ng-click="removeFromCart(product.pID)" />
	    
	    
	    
	</form> -->
</div>
							
					                </div>
						        </div>
						        <hr>
						    </div>
						</div>
					</div>
				</div>
			</div>
	    </div>
	 </div>
 <!-- **************************************************Billing Products****************************************************** -->
		<div ng-show="billProducts_Show">
			 <div class="section group" id="cProducts">
             <div style="display:inline-block; width:100%;">
			 <div style="display:inline; float: left; width: 36%">
			 <div>
			 <p><span style="font-weight: bold;">Bill Id:</span><span class="bill_details">#{{singleBill.bill_id}}</span></p><br/>
             <p><span style="font-weight: bold;">Drop Location:</span> {{singleBill.bDropLocation}} </p><br/>
             <p><span style="font-weight: bold;">Pick-up Location:</span> {{singleBill.bPickupLocation}}</p><br/>
			 <p><span style="font-weight: bold;">Bill Date:</span>{{singleBill.bDate|date:"yyyy-MM-dd"}}</p><br/>
			 <p><span style="font-weight: bold;">Delivery Date:</span> {{singleBill.bExpectedDeliveryDate | date:"yyyy-MM-dd"}}</p><br/>
			 </div>
			 <div>
				<p><span style="font-weight: bold;">Bill total:</span><span style="color:#679900; font-weight: bold;"> ${{singleBill.bTotal}}</span></p>
			</div>
			</div>
            <div style="width:56%;display:inline;  float: right; ">
                <div style="display:inline; float: right; width:100%;">
                    <div>
                    <h4 style="float:right;">
                      <a class="button" ng-click="GoogleMapsShow(singleBill.bDropLocation, singleBill.bPickupLocation );" style="color:#ffffff;">Show Map</a>
                      </h4>
                      </div>
                      <div style="width:100%; height:auto;">
                      	<div ng-show="GoogleMaps_Show" float= "left" style="width:1368px;height:400px;">
    						<div id="map" ng-model="maper"></div>
						</div>
                      </div>
                 </div>
			 </div>
             <div style="display:inline-block; width:100%;">
				<div class="grid_1_of_4 images_1_of_4" ng-repeat = "product in singleBill.billingProducts">
					 <!--  <a><img src="/uploads/images/{{product.pImage}}" alt="" height="320" width="240"/></a> -->
					 	<h2><a>{{product.bProductName}}</a></h2>
						<div class="price-details">
				      		 <div class="price-number">
				      		 	<p>Quantity: {{product.bProductQuantity}}</p>
								<p><span class="rupees">${{product.bProductPrice}}</span></p>
								<p>Total price: ${{product.pTotal}}</p>
					    	</div>
					    	<input type="text" ng-show=false ng-model="prductID">
						<div class="clear"></div>
					</div>
				</div>
				 </div>
		<!-- 		<p>Bill total: {{singleBill.bTotal}}</p> -->
			</div>
		</div>

 	</div>
 	
 	
 		
 		<!-- *********************************************************************etails************************************************************************************* -->
 <div ng-show="farmerProfile_Show">
 
 <div class="main">
						<div class="content">
							<div class="content_top">
								<div class="heading">
									<h3>Farmer Details</h3>
								</div>
								<div class="clear"></div>
							</div>
							<div class="section group">
<!-- Product Details div -->	<div class="cont-desc span_1_of_2">
									<div class="product-details">
										<div class="grid images_3_of_2">
											<div id="container">
												<div id="products_example">
													<div id="products">
														<div class="slides_container"
															style="overflow: hidden; position: relative; display: block; width: 320px; height: 320px;">
														<!-- 	<img src="/uploads/videos/{{farmerDetails.fVideo}}"
																style="max-height: 329px; min-height: 320px;" /> -->
																<video id='videoPlayer' width="320" height="240" controls>
       															<source id='mp4Source' src="http://127.0.0.1:3000/uploads/videos/n2.mp4" type="video/mp4" />
   									 						</video>
	
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="desc span_3_of_2">
												<p>
													<span><h2 style="    color: #679900;    font-size: 28px;    font-weight: bold;    text-transform: uppercase;">{{farmerDetails.fFirstName}} {{farmerDetails.fLastName}}</h2></span><!-- <p>#{{farmerDetails.fKey}}</p> --> 
													Connect @: <span class="hname">{{farmerDetails.fEmail}}</span>
												</p>
												<p>
													Meet me @: <span>{{farmerAddress}}</span>
												</p>
											<div class="share-desc" align="left">
												<div class="clear"></div>
											</div>
										</div>
										<div class="clear"></div>
									</div>
								</div>
							</div>
 
 
 	<div class="content_top" >
    		<div class="heading">
                    <h3>Products by {{farmerDetails.fFirstName}} {{farmerDetails.fLastName}}</h3>
    		</div>
    		<div class="clear"></div>
    </div>
	      <div class="section group" id="cProducts">
				<div style="width:23%;" class="grid_1_of_4 images_1_of_4" ng-repeat = "product in farmerProductDetails | filter:search | startFrom:currentPage*pageSize | limitTo:pageSize"  ng-init="prductID=product.pID">
					 <a ><img src="/uploads/images/{{product.pImage}}" alt=""  width="320" height="240"/></a>
					 	<h2><a ng-click="customerGetProductDetails(prductID)">{{product.pName}}</a></h2> 
					 	<h3>#{{product.pID}}</h3>
						<div class="price-details">
				      		 <div class="price-number">
								<p><span class="rupees">${{product.pPrice}}</span></p>
					    	</div>
							<div style="width:16%;">
					    	<input type="text" ng-show=false ng-model="prductID"></div>
					       	<div class="add-cart" style="width:83%; display: inline;">	
							<div style="width:63%; float: right;">							
								<h4><a class="button" ng-click="addToCart(product,1)">Add to Cart</a></h4>
								</div>
							</div>
						<div class="clear"></div>
					</div>
					 
				</div>
					<div style="clear:both;">
					    <center>
						    <button ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1" >Previous</button>
								{{currentPage+1}}/{{numberOfPages(productArray)}}
							<button ng-disabled="currentPage >= productArray.length/pageSize - 1" ng-click="currentPage=currentPage+1">
								Next </button>
						</center> 
					</div>
				</div>
 			</div>
 		</div>
 		</div>
 </div>
 
 
 	</div>
 	</div>
 </div>
 
 
 <!-- ****************************************************************************************************************************************************************** -->
    <div class="footer" style="background-image:url(/images/strip.png);">
   	  
       <!-- <div class="copy_right">
				<p style="margin-top: 0.5%;margin-bottom: 0.5%;">All items sold by and ship from AmazonFresh unless otherwise specified </p>
		   </div> -->
    </div>
</body>
</html>
